assets/maskora/development/*.mp4
assets/helloworld/download/*.zip
assets/gravity-spaceship/download/*.zip
assets/kittyburger/download/*.zip
assets/loopingroom/download/*.zip
assets/verminex/download/*.zip
assets/infinity/download/*.zip
