assets/maskora/development/*.mp4
assets/helloworld/download/*.zip
assets/gravity-spaceship/download/*.zip
assets/kittyburger/download/*.zip
assets/loopingroom/download/*.zip
assets/verminex/download/*.zip
assets/infinity/download/*.zip
assets/helloworld/webgl/Build/digital_build.data
assets/hotpot-jianghu/webgl/Build/Webgl.data
assets/hotpot-jianghu/webgl/Build/Webgl.wasm
assets/kittyburger/webgl/Build/UnityBuilds.wasm
assets/downloads/hotpot-jianghu-game-demo-1.2.zip
